.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 100vw;
    margin: 4% 0px;
    background-color: blanchedalmond;
    color: rgb(0, 0, 0);
}