body{
    font-family: monospace;
    background-color: hsla(33, 94%, 6%, 0);
   
    font-size: 5rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.clock{
   
}
.date{
    font-size: 2rem;
    
}